{% extends "base.html" %}

{% block title %}Danh sách người dùng{% endblock %}

{% block body %}

<div class="row card">
  <div class="card-body m-3">
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Ảnh</th>
        <th scope="col">Họ và Tên</th>
        <th scope="col">Email</th>
        <th scope="col">Ngày tham gia</th>
        <th scope="col">Xóa</th>
      </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
        <th scope="row">{{ user.id }}</th>
        <td><img src="/img/{{ user.avatar }}" alt="" style="width:40px;height: 40px; border-radius: 100%;"></td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.created_at }}</td>
        <td class="" style="">
          <a href="/users/destroy?id={{ user.id }}" class="text-decoration-none" style="color: red; padding-left: 5px"><i class="ti-close"></i></a>
        </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
