{% extends 'base.html' %}

{% block title %}New Posts{% endblock %}

{% block body %}

<div class="card-newPost mt-4 bg-light p-3" style="border-radius: 30px;">
    <h3 class="text-center">Cập nhật bài viết</h3>

    <form method="post" action="/posts/update" class="mt-3" enctype="multipart/form-data">
        <div class="form-group d-flex justify-content-center align-items-center">
            <label for="inputTitle" style="min-width: 94px;"><strong>Tiêu đề:</strong></label>
            <input id="inputTitle" name="title" value="{{ post[0].title }}" placeholder="Tiêu đề..." autofocus required class="form-control" style="max-width: 100%;"/>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <label for="inputImg" ><strong class="mr-3">Chọn ảnh:</strong></label>
                <input type="file" value="{{ post[0].img_title }}" id="inputImg" name="img_title" class="form-control"><br><br>
            </div>
            <div class="form-group">
                <label for="selectCategory"><strong>Thể Loại:</strong></label>
                <select name="category_id" id="selectCategory" style="margin-left: 12px; min-width: 150px;">
                    {% for category in categories %}
                        <option value="{{ category.id }}" {% if category.id == post[0].category_id %}checked{% endif %}>{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="inputContent"><strong>Nội dung</strong></label>
            <textarea id="inputContent" name="content" rows="10" class="form-control">{{ post[0].content }}</textarea>
        </div>

        <div class="row mt-4">
            <div class="col-6 text-left">
                <input type="hidden" name="id" value="{{ post[0].id }}">
                <input type="hidden" name="user_id" value="{{ current_user.id }}">
                <input type="submit" name="submit" value="Cập nhật" class="btn btn-outline-info">
            </div>

            <div class="col-6 text-right">
                <a href="/profile/show"><button type="button" class=" btn btn-outline-info ">Thoát</button></a>
            </div>
        </div>
    </form>
</div>

{% endblock %}
