{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block footer %}
    <script src="/js/hideShowPassword.min.js"></script>
    <script src="/js/app.js"></script>

    <script>
        $(document).ready(function() {

            var userId = '{{ user.id }}';

            /**
             * Validate the form
             */
            $('#formProfile').validate({
                rules: {
                    name: 'required',
                    password: {
                        minlength: 6,
                        validPassword: true
                    }
                },
            });


            /**
              * Show password toggle button
              */
            $('#inputPassword').hideShowPassword({
                show: false,
                innerToggle: 'focus'
            });
        });
    </script>

{% endblock %}

{% block body %}

<body class="background">
    <div class="row">
    <div class="card-editProfile" style="margin: 2rem auto">
        <h2 class="text-center mb-4">Cập nhật hồ sơ cá nhân</h2>

        <form method="post" id="formProfile" action="/profile/update" enctype="multipart/form-data">
            <div class="form-input">
                <input id="inputAvatar" type="file" name="avatar" value="{{ user.avatar }}" class="form-control" />
                <div class="line"></div>
            </div>
            <div class="form-input ">
                <input id="inputName" name="name" placeholder="Name" value="{{ user.name }}" required />
                <div class="line"></div>
            </div>
            <div class="form-input ">
                <input id="inputEmail" name="email" placeholder="email address" value="{{ user.email }}" required type="email"  disabled />
                <div class="line"></div>
            </div>
            <div class="form-input">
                <input type="password" id="inputPassword" name="password" placeholder="Password" aria-describedby="helpBlock"  />
                <div class="line"></div>
                <span id="helpBlock" class="help-block">Để trống để giữ mật khẩu hiện tại.</span>
            </div>

            <div class="row mt-4">
                <div class="col-6 text-left">
                    <button type="submit" class=" btn btn-outline-info ">Lưu</button>
                </div>

                <div class="col-6 text-right">
                    <a href="/profile/show"><button type="button" class=" btn btn-outline-info " >Thoát</button></a>
                </div>
            </div>

            {% if user.errors is not empty %}
            <p>Lỗi cập nhật:</p>
            <ul>
                {% for error in user.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}

        </form>
    </div>
    </div>
</body>

{% endblock %}
